*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
.hero-left{
    margin-top:5px;
    margin-left:-4%}

.body-image{
    background-color:rgb(4, 4, 71);
  background-repeat: no-repeat;
  background-size: cover;
   width:100vw;

} 
  a:hover {
    
    color: #d9bd3f;
  }
  a:link {
    text-decoration: none;
    
  }
 .style-none a:visited {
    
    color:#707fa3;
  }
 a:active{
    color:rgb(134, 22, 22);
 }
   a:visited {
    color:white;
  }

button{
    background-color: #d9bd3f;
}
.angle-bar{
display: none;
}
.arrow-left{
 display: none;

}


.image-head{
width: 500px;
position:absolute;
left: 750px;
top: 100px;
}
.content-header{

    display: flex;
align-items:center;
justify-content: space-between;
padding: 0px 70px;
    }
.nav-header ul li{
    
display: inline-block;
  padding: 96px 25px;
 list-style-type:none;
}

.menu-btn{
    background-color: transparent;
    outline: 0;
    border: 0;
}
.content-name{
    display: flex;
    justify-content:flex-start;
    justify-items: flex-start;
    
}
.list-center{
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size: large;
    margin-left:102px;

    
}
.small-header{
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#size-bar{
    width:70px ;
    height: 30px;
    background-color: #d9bd3f;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bullet-point{
    position: absolute;
    color: #d9bd3f;

   font-size: 77px;
   margin-top: -24px;

}
.bullet-service{
    position: absolute;
    color: #d9bd3f;

   font-size: 77px;
   margin-top: -32px;


}
.bullet-about{
    position: absolute;
    color: #d9bd3f;

   font-size: 73px;
   margin-top: -23px;


}
.bullet-home{
    position: absolute;
    color: #d9bd3f;
margin-left: -15px;
   font-size: 40px;
   margin-top: -21px;


}


.nav-head{
  display:none;  
    
}
.tele-number{
    margin:0 40px;
    display: inline-block;
    list-style-type:none;
   
}
.btn-container{
    display: none;
}
.btn-center{
    background-color: #d9bd3f;
    border: none;
    color: white;
    width:147px ;
    height: 40px;
    border-radius: 20px;

}
.btn-color{
    background-color:white;
    margin-left:8px;

}
.line-gap{
font-size:75px;
line-height: 80px;
letter-spacing: 1px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:bolder;


}

.title-text{

    display: grid;
    grid-template-columns: var(grid);
    margin-top: -10px;
    padding: 2em ;
    color: aliceblue;
    
    
    
    
    }
.para-gap{
    color: aliceblue;
    font-size:18px;
letter-spacing: normal;

    }
 .btn-gap{
    
 border: none;
 color:black;
 padding: 15px 32px;
 border-radius: 10px;
 display: inline-block;
font-size: 16px;
    
} 
.para-line{
    margin-bottom:180px ;

}

.content-right{
    display: grid;
    padding: 3em;
    justify-content: center;

}
.hero-img{
    width: 354px;
    height:100%;
    padding: 20px;
    margin-left:32px;

}
.main-content h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -40px;

}
.main-content p{
    letter-spacing: 1px;
    margin-top: 21px;
   

}
.btn-size{
    margin-top: 21px;

}


.back-image{
    background-color:rgb(6, 6, 91);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
    

}

.slider-image{
    display: none;
}

.center-header{
    display:grid;
    text-align: center;
    padding: 50px;
    }
    .header-rows{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        color: white;
        
    
    }
    
    .box-bar{
        width:262px;
        height:200px;
        border-radius: 16px;
        margin: 8px;
        background: rgb(246, 245, 245);
        border: 1px solid black;
    }
    

    
    .center-image{
        position: absolute;
        margin-top:50px;
        margin-left: -50px;
    }
    .box-section{
        text-align: center;
    
        
    }
    

    .header-title{
        display:grid;
        place-content: center;
        padding: 38px;
        margin-right: 20px;
    
    }
    .header-gap{
        display: grid;
        text-align: center;
    }
    
.read-size{
    display:grid;
    justify-content: center;
    align-items: center;
}
.btn-read{
    background-color: #d9bd3f;
    border: none;
    color: white;
    width:137px ;
    height: 44px;
    border-radius: 20px;



}
    .box-line{
        display: grid;
        border: 1px solid white;
        background-color:white;
        width: 100%;
        margin: 16px;
        padding: 1em;
        box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.23);
        -webkit-box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.23);
        -moz-box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.23);  
     }
     .box-line h5{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      letter-spacing: 0.9px;
    
     }
     .box-line p{
        font-family:Verdana, Geneva, Tahoma, sans-serif; 

     }

    .image-right{
        
        width: 100%;
        margin-left: 17px;
        
    
    }

    
    
    .object-center{
        display:grid;
        text-align: center;
        place-items: center;

    
    
    }
    .object-header{
            
    
        /* justify-content: center;
        align-items:center; */
        margin: 56px;
        text-align: center;
        /* padding: 20px; */
    }

    .card-shape{
        padding: 2em;
        border-radius: 25px;
    
        
    
    }
    .box-image{
        width:248px;
        margin: 19px;
        margin-top: 4px;
        height: 217px;

    }
    
    .box-image-container::before{
        position: absolute;
        rotate: -13deg;
        content: '';
        width:283px !important;
        height: 169px !important;
        background-color:rgb(6, 6, 91) !important;
        z-index: -9;
        border-radius: 18px;
    }
    .line-height{
        display:grid;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    
    #card-2{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
    #card-3{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: -27px;

    }
    
    .text-words{
    display: grid;
       text-align: center; 
    }


    .angle-box{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 7px;
    
    
    }
    .arrow-angle{
        background:#d9bd3f;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .btn-num{
        margin-right: -31px;
    }
    
    .footer{
        display: grid;
        place-items: center;
    }
    .footer-image{
         background: rgb(4, 4, 71);;           
         background-repeat: no-repeat;
         background-size: cover;
         position: absolute;
         width:100vw;
         padding-top: 27px;


         
     }
     .header-color{
        color: aliceblue;
        display: grid;
        font-size: large;
    }

   
    
    
    .style-none{
        list-style: none;
        color:#707fa3;
    }
    .call-none{
        color:#707fa3;
        margin-left:6px ;


    }
    .footer-row{
        width: 206px;
        display:grid;
        place-content: center;
        padding: 1em;
        grid-gap: 13px;
    
    }
    .header-right{
        color: white;
        font-size: large;
        display: grid;
        justify-content: center;

    
    }
    .header-left{
        font-size: 25px;
        font-size:25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: grid;
        justify-content: center;

    }
    

    .email-image{
        width:10%;
        height: 100%;
        margin-top: 9px;
    }
    .insta-size{
        width:12%;
        height: 100%;

    }
    .network-images{
        display: flex;
        gap: 18px;
        margin-top: -5px;

    }
    
    .para-color{
        color:#707fa3;
    }
    .btn-send{
        background-color: #d9bd3f;
        border: none;
        color: white;
        width:109px ;
        height: 40px;
        border-radius: 20px;
    

    }
    .news-image{
        display: flex;
        gap: 17px;
        margin-left: none;
    }

    
    .footer-form{
        margin-top: 2em;
        display: grid;
        place-items: center;
        grid-gap: 23px;
        width: 90%;
    }

    .form-header{
        display: inherit;
        grid-gap: 1em;
        width: 100%;
    }
    
    input{
        border-radius: 20px;
        padding: 8px;
        outline: 0;
        border: 0;
    }

    .form-field{
        width: 100%;
    }
.email-box{
    border-radius: 0;
    width:285px;
    background-color: unset;
    border:1px solid white;
    
}
.subs-btn{
    height: 39px;
    border:unset;
    border-radius: 4px;
    background-color: #d9bd3f;
}
    @media (min-width:1024px) {
     .body-image{
            background-image: url("./images/hero-bg.png");
          background-color:unset;
          position:absolute;
          margin-top:-80px;
           width:100%;
          height:auto;
        } 
        
        .about-container img{
          margin-top: 500px; 
          max-width: 100%;
          height:100%;
       
       }
       .btn-container{
        display: flex;
        align-items: flex-end;
        justify-content:flex-end; 
    
        
    }
    
    
    
    .hero-left{
        margin-top:48%;
        margin-left:-1%}
    
    
    .hero-img{
        width: 600px;
    
    }
    
    
        
        .content-header{
            color: aliceblue;

        }

        .footer-line{
       
            display:flex;
            grid-gap: 2em;
            width: 94%;
            padding-top: 90px;
        
        }
        .footer-row{
            width: 100%;
            height: 100%;
            display:grid;
            /* border-radius: 4px; */
            grid-gap: 13px;
        
        }
    
        .box-row{
            width: 78vw;
            height: 693px !important;
            display: flex;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 !important;
        
        
        }
    
        .column-box{
            display: grid;
            gap: 1px;
            grid-template-columns: 1fr  1fr;
            
            
           
        }
        .image-right{
        margin: 7px;
            width: 500px;
            height: 432px;
            
        
        }
    
     
        

        .footer-form{
            width: 40vw;
        }
        
        .form-header{
            grid-template-columns: 1fr 1fr;
        }
        
        .main-content{
            display: flex;
            width:auto;
            justify-content: center;
            align-items:center;
        }
        .style-none{
            display:grid;
            justify-content: center;
            margin-left: -40px;

        }
        .object-header{
            
                display:grid;
                justify-content: left;
                align-items:left;
            }
        .test{
            text-align: left;
        }
        .test h3{
            font-family: 'Roboto', sans-serif;

        }
        .test p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
      
    
        .para-gap{
            margin-left: 35px;
            font-family: 'Roboto', sans-serif;
            
            }
            .line-gap{
                margin-left: 7px;
            }
            .news-image{
                display: flex;
                gap: 17px;
                margin-left: none;
            }
            #card-2{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -26px;

                }
            
            #card-3{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
        
            }
        
            .angle-bar{
                display: flex;
                justify-content:center;
                align-items: center;
                flex-direction: row;
                margin-top: 7px;
                rotate: -14deg;
                }
                .arrow-left{
                background:#d9bd3f;
                height: 40px;
                width: 39px;
                border-radius: 50%;
                margin: 5px;
                display:flex;
                justify-content: center;
                align-items: center;
                
                }
                .header-right{
                    color: aliceblue;
                    font-size: large;
                    display: grid;
                    justify-content: flex-start;
                    
            
                
                }
                .nav-head{
                    display: contents;
                    justify-content: center;
                    align-items:center;
                }
                .menu-btn{
                    display: none;
                }
                .slider-image{
                    display:grid;
                    width: 570px;
                    position:absolute;
                    right: 2vw;
                    bottom: 79px;
                    }
                    .image-content{
                        display: grid;

                    }
                    .box-line{
                        width:545px;
                        height: 184px;
                    
                    }
                    .header-gap{
                        display: grid;
                        text-align: left;
                        margin: 14px; 
                        padding-bottom:19px ;
                
                    }
                    .read-size{
                        display:grid;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-top: -45px;
                        padding: 15px;
                    }
                    .title-text{

                        display: grid;
                        grid-template-columns: var(grid);
                        margin-top: -50px;
                        padding: 4em ;
                        color: aliceblue;
                        
                        
                        
                        
                        }
                    
                        .footer-image{
                            background: url("./images/footer-bg.png");           
                            position: absolute;
                            background-repeat: no-repeat;
                         width: 100%;
                       height: auto;
                       padding-top: 394px;
                       padding-bottom: 60px;
                       border-top-right-radius: 260em 24em;
                       margin-top: -121px;

                        }
                   
                        .content-right{
                            display: grid;
                            padding: 1em;
                            justify-content: center;
                            margin-top: 593px;
                        
                        }
                        .call-none{
                            color:#707fa3;
                        
                    
                    
                        }
                        .angle-box{
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            flex-direction: row;
                            margin-top: 5px;
                            margin-right:106px;
                        
                        }
                    
                        
                        
                    
                    
                        
                    
                    
                
                            } 