*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}
html,body{
    width: 100%;
    overflow-x: hidden;
}

.body-image{
    background-color:rgb(4, 4, 71);
  background-repeat: no-repeat;
  background-size: cover;
   width:100vw;

} 


.angle-bar{
display: none;
}
.arrow-left{
 display: none;

}


.image-head{
width: 500px;
position:absolute;
left: 750px;
top: 100px;
}
.content-header{

    display: flex;
align-items:center;
justify-content: space-between;
padding: 0px 70px;
    }
.nav-header ul li{
    
display: inline-block;
  padding: 130px 10px;
 list-style-type:none;
}

.menu-btn{
    background-color: transparent;
    outline: 0;
    border: 0;
}
.content-name{
    display: flex;
    justify-content:flex-start;
    justify-items: flex-start;
    
}
.list-center{
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size: large;
    width: 35vw;

}
.small-header{
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#size{
    width:70px ;
    height: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-right{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end ;

}


.nav-head{
  display:none;  
    
}
.tele-number{
    margin:0 15px;
    display: inline-block;
    list-style-type:none;
   
}
.btn-container{
    display: none;
}
.primary-btn{
scale: 1.5; 
margin-left: 20px;

}
.line-gap{
font-size:70px;
line-height: 80px;
letter-spacing: 1px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.title-text{

    display: grid;
    grid-template-columns: var(grid);
    margin-top: -10px;
    padding: 2em ;
    color: aliceblue;
    
    
    
    
    }
.para-gap{
    color: aliceblue;
    font-size:18px;
letter-spacing: 1px;

    }
 .btn-gap{
    
 border: none;
 color:black;
 padding: 15px 32px;
 border-radius: 10px;
 display: inline-block;
font-size: 16px;
    
} 
.para-line{
    margin-bottom:180px ;

}

.content-right{
    display: grid;
    padding: 1em;
    justify-content: center;

}
.hero-img{
    width: 354px;
    height:100%;
    padding: 20px;

}
.main-content h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -40px;
    /* margin: 10px; */

}
.main-content p{
    letter-spacing: 1px;
    margin-top: 30px;
    /* margin: 10px; */
   

}
.btn-size{
    margin-top: 5px;
    /* margin: 10px; */

}


.back-image{
    background-color:rgb(6, 6, 91);
    width: 100%;
   grid-gap: 2em; 
    padding: 25px;
    

}

.right-image{
    display: none;
}

.center-header{
    display:grid;
    text-align: center;
    padding: 30px;
    }
    .header-rows{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        color: aliceblue;
        
    
    }
    
    .box-bar{
        width:240px;
        height:200px;
        border-radius: 10px;
        margin: 10px;
        background: azure;
        border: 1px solid black;
    }
    

    
    .center-image{
        position: absolute;
        margin-top:50px;
        margin-left: -50px;
    }
    .box-section{
        text-align: center;
    
        
    }
            
    .header-title{
        display:grid;
        place-content: center;
        padding: 50px;
    
    }
    .header-gap{
        display: grid;
        text-align: center;
    }
    
.read-size{
    display:grid;
    justify-content: center;
    align-items: center;
}
    .box-line{
        display: grid;
        border: 1px solid white;
        background-color:white;
        width: 100%;
        margin: 10px;
        padding: 1em;
        box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.23);
        -webkit-box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.23);
        -moz-box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.23);    }

    .image-right{
        
        width: 100%;
        
    
    }

    
    
    .object-center{
        display:grid;
        text-align: center;
        place-items: center;

    
    
    }
    .card-shape{
        padding: 2em;
        border-radius: 25px;
    
        
    
    }
    .box-image{
        width:248px;
        margin: 19px;
        margin-top: 4px;
        height: 217px;

    }
    
    .box-image-container::before{
        position: absolute;
        rotate: -13deg;
        content: '';
        width:283px !important;
        height: 169px !important;
        background-color:rgb(6, 6, 91) !important;
        z-index: -9;
        border-radius: 18px;
    }
    .line-height{
        display:grid;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    
    #card-2{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
    #card-3{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }
    
    .text-words{
    display: grid;
       text-align: center; 
    }


    .object-header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 40px;
        margin: 70px;
    }
    .angle-box{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        margin-top: -10px;
    
    }
    .arrow-angle{
        background:goldenrod;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .footer{
        display: grid;
        place-items: center;
    }
    .footer-image{
         background: rgb(4, 4, 71);;           
         background-repeat: no-repeat;
         background-size: cover;
         position: absolute;
         width:100vw;


     }
   
    
    
    .style-none{
        list-style: none;
        color:grey;
        display: grid;
        justify-content: center;
        align-items:center;
    }
    .footer-row{
        width: 100%;
        height: 220px;
        display:grid;
        padding: 2em;
        border-radius: 4px;
        grid-gap: 3px;
    
    }
    .header-color{
        color: aliceblue;
        display: grid;
    }
    .header-right{
        display: grid;
        justify-content: center;
        align-items: end;    
        color: aliceblue;
 

    }
    .header-left{
        display: grid;
        place-content: center;


    }

    .para-color{
        color:grey;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .bullet-color::after{
        content: "\2022"; ;
        color:goldenrod;
        font-size:60px;
       margin-top:-18px;
        position: absolute;
    
        
    }
    .bullet-home::before{
        content: "\2022"; ;
        color:goldenrod;
        font-size:33px;
       margin-top:-13px;
       left: 160px;
        position: absolute;


    }
    
    .footer-form{
        margin-top: 2em;
        display: grid;
        place-items: center;
        grid-gap: 1em;
        width: 100%;
    }

    .form-header{
        display: inherit;
        grid-gap: 1em;
        width: 100%;
    }
    
    input{
        border-radius: 20px;
        padding: 8px;
        outline: 0;
        border: 0;
    }

    .form-field{
        width: 100%;
    }
.email-box{
    border-radius: 0;
}
    @media (min-width:1024px) {
     .body-image{
            background-image: url("./images/hero-bg.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color:unset;
          margin-top:-100px;
           width:100%;
          height:116vh;
        } 
        .about-container img{
          margin-top: 500px; 
          max-width: 100%;
          height:100%;
       
       }
       .btn-container{
        display: flex;
        align-items: flex-end;
        justify-content:flex-end; 
        /* grid-gap: 25px; */
    
        
    }
    
    .hero-img{
        width: 550px;
    
    }
    
        
        .content-header{
            color: aliceblue;

        }

        .footer-line{
       
            display:flex;
            grid-gap: 2em;
            width: 100%;
        
        }
        .box-row{
            width: 78vw;
            height: 693px !important;
            display: flex;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 !important;
        
        
        }
    
        .column-box{
            display: grid;
            gap: 1px;
            grid-template-columns: 1fr  1fr;
            
            
           
        }
        .image-right{
        
            width: 400px;
            height: 400px;
            
        
        }
    
     
        

        .footer-form{
            width: 60vw;
        }
        
        .form-header{
            grid-template-columns: 1fr 1fr;
        }
        
        .main-content{
            display: flex;
            width:auto;
            justify-content: center;
            align-items:center;
        }
        .style-none{
            display:grid;
            justify-content: flex-start;

        }
        .para-gap{
            margin-left: 32px;
            }
            .line-gap{
                margin-left: 5px;
            }

            .angle-bar{
                display: flex;
                justify-content:center;
                align-items: center;
                flex-direction: row;
                margin-top: -20px;
                right: 500px;
                }
                .arrow-left{
                background:goldenrod;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin: 5px;
                display:flex;
                justify-content: center;
                align-items: center;
                
                }
                .arrow-bottom{
                    display:flex;
                    margin-top:40px;
                }
                .arrow-top{
                    display: flex;
                    margin-top: 19px;
                }
                .nav-head{
                    display: contents;
                    justify-content: center;
                    align-items:center;
                }
                .menu-btn{
                    display: none;
                }
                .right-image{
                    display:grid;
                    width: 500px;
                    position:absolute;
                    right: 5vw;
                    top: 140px;
                    }
                    .image-content{
                        display: grid;

                    }
                    .box-line{
                        width:480px;
                        height: 180px;
                    
                    }
                    .header-gap{
                        display: grid;
                        text-align: left;
                        margin: 10px; 
                
                    }
                    .read-size{
                        display:grid;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin: 10px;
                    }
                    .title-text{

                        display: grid;
                        grid-template-columns: var(grid);
                        margin-top: -140px;
                        padding: 4em ;
                        color: aliceblue;
                        
                        
                        
                        
                        }
                        .footer-image{
                            background: url("./images/footer-bg.png");           
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: absolute;
                       height: auto;
                       width: 100vw;
                       padding-top: 300px;
                   
                        }
                   
                        .header-left{
                            display: grid;
                            justify-content: left;
                            align-items: left;
                            column-gap:89px ;
                    
                    
                        }
                        .bullet-home::before{
                            content: "\2022"; ;
                            color:goldenrod;
                            font-size:33px;
                           margin-top:-13px;
                           left: 380px;
                            position: absolute;
                    
                    
                        }
                    
                    
                
                            } 